<!-- Credentials Section -->
  <div class="credentials">
    {% for cred in site.data.credentials %}
      <div class="credentials-item">
        {% if cred.logo %}
        <a href="{{ cred.url | default: '#' }}" 
        target="_blank" 
        title="{{ cred.institution }} - {{ cred.role }} ({{ cred.year }})"
        style="display: block; text-align: center;">

            <img src="{{ cred.logo | prepend: 'assets/img/' | relative_url }}" 
                 alt="{{ cred.institution }}" 
                 class="institution-logo">
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>